# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore node modules
node_modules/

# Ignore macOS system files
.DS_Store

# Ignore backup files
*.bak
*dump
# *.sql

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore Redis data
redis/volumes/redis/data
redis/volumes/redis/logs
redis/volumes/redisinsight

# Ignore MySQL data
*/volumes/mysql/backup
*/volumes/mysql/data
*/volumes/mysql/logs
*/volumes/phpmyadmin

# Ignore PostgreSQL data
*/volumes/postgresql/backup
*/volumes/postgresql/data
*/volumes/postgresql/logs
*/volumes/pgadmin

# Ignore other common files
*.swp
*.swo
